<h3>This is @Model["band"].GetName()</h3>
<h3>Genre: @Model["band"].GetGenre()</h3>
<h3>Venues: @Model["venue"].GetName()</h3>

<p><a href="/bands">View all band</a></p>
<p><a href="/band/new">Add a another band</a></p>
<p><a href="/">Return Home</a></p>
