<h1>This website helps you keep up to date on all of the latest shows in town!</h1>
<h2>What would you like to do?</h2>
<p><a href="/venues">View All Venues</a></p>
<p><a href="/bands">View All Bands</a></p>
