<h1>All Shows</h1>
@if(@Model.Count == 0)
{
  <h3>You have not added any Shows</h3>
}
@foreach(var show in @Model["shows"])
{
  <ul>
    <li><a href="/show/@show.GetId()">@show.GetDate()</a> | <a href="/band/@show.GetBandId()">@show.GetBand().GetBandName()</a> | <a href="/venue/@show.GetVenueId()">@show.GetVenue().GetVenueName()</a> <a href="/show/edit/@show.GetId()">Edit</a> | <a href="/show/delete/@show.GetId()">Delete</a></li>
  </ul>
}
<p><a href="/show/new">Add a new Show</a></p>
<p><a href="/">Return Home</a></p>
