<h3>Who's Playing?: @Model["band"].GetBandName()</h3>
<h3>Where?: @Model["venue"].GetVenueName()</h3>
<h3>When?: @Model["show"].GetDate()</h3>

<p><a href="/shows">View all shows</a></p>
<p><a href="/show/new">Add a another show</a></p>
<p><a href="/">Return Home</a></p>
GetBandName
