<h1>Add a new venue</h1>
<form action="/venues" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">
  <label for="address">Address</label>
  <input id="address" name="address" type="text">
  <button type="submit">Submit</button>
</form>
<a href="/">Go Back</a>
<a href="/venues">View all venues</a>
