<h1>Add a new venue</h1>
<form action="/venues" method="post">
  <label for="venue">Name</label>
  <input id="venue" name="venue" type="text">
  <label for="address">Address</label>
  <input id="address" name="address" type="text">
  <button type="submit">Submit</button>
</form>
<a href="/">Go Back</a>
<a href="/venues">View all venues</a>
